.text-primary{ color: $primary_color !important; }
.text-success{ color: $success_color !important; }
.text-warning{ color: $warning_color !important; }
.text-danger{ color: $danger_color !important; }
.text-info{ color: $info_color !important; }