$text_color: #2A3547;
$white_color: #FFFFFF;
$black_color: #000000;
$gray_color: #5A6A85;
$primary_color: #5235FF;
$secondary_color: #4E5BA6;
$success_color: #13DEB9;
$warning_color: #FFAE1F;
$danger_color: #FA896B;
$info_color: #1495EA;